/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Background Image */
.background-image {
    background-image: url('reception.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

/* Top Bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.social-icons a {
    float: left;
    text-align: left;
    margin-left: 20px;
}

.contact-info {
    font-size: 14px;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px 20px;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
}

.logo span {
    color: red; /* Highlight "The" in red */
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black; /* Text color for navigation links */
    font-weight: bold;
}
















